src/
*.test.ts
*.test.js
*.test.d.ts
*.test.ts.map
*.test.js.map
*.test.d.ts.map
**/*.test.ts
**/*.test.js
**/*.test.d.ts
**/*.test.ts.map
**/*.test.js.map
**/*.test.d.ts.map
**/*.integration.test.*
dist/**/*.test.*
dist/**/*.integration.test.*
dist/**/*.d.ts.map
dist/**/*.js.map
vitest.config.*
tsconfig.json
tsconfig.*.json
tsconfig.tsbuildinfo
.turbo/
node_modules/
